html, body {
    font-family: Arial, Helvetica, sans-serif, "Microsoft Yahei";
    /* font-family: "Segoe UI", "微软雅黑"; */
    /*font-family: "Microsoft YaHei UI", "微软雅黑";*/
    font-size: 90%;
    height:100%;
    background: #FFF;
}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/*-----start-header----*/

.header {
    background-color: 	#000080;
    position: fixed;
    width: 100%;
    height: fixed;
    /*height: 60px;*/
}
.top-menu {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.top-menu ul li {
    line-height: 0px;
    display: inline-block;
    padding: 1.5em;
}
.top-menu ul li a {
    text-decoration: none;
    vertical-align: center;
    font-size: 1.3em;
    /* color: #CFCFCF; */
    color: #C4C4C4
}
.top-menu ul li a:hover {
    /*color: #FFFF00;*/
	color: #FFF;
	font-size: 1.5em;
}
.top-menu ul li.active a {
    /* color: #FFFF00; */
    color: #FFFFFF;
	font-size: 1.5em;

}

/*-----header----*/


/*-----body----*/

.body {
    padding-top: 60px;
    padding-bottom: 100px;
}
.body a {
    color: #00E;
}
.body a:hover {
    text-decoration: underline;
}

/*-----body----*/


/*--expression(window.screen.availHeight > document.body.hight?"fixed":"absolute");--*/


/*--footer--*/

.footer {
    font-size: 15px;
    background: #E8E8E8;
    height: 80px;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.footer a p {
    color: #333333;
}
.footer a:hover {
    text-decoration: underline;
}
/*--footer--*/


/*-- homepage --*/
.info {
	padding-left: 0px;
	padding-bottom: 0px;
    text-align: left;
	max-width: 69%;
}

.short-info {
    padding-top: 50px;
    padding-bottom: 0px;
	padding-left: 180px;
    max-width: 1200px;
}
.short-info p {
   /* text-align: center;*/
   padding-left: 30px;
	text-align: left;
    font-size: 20px;
    padding-top: 5px;
}
.short-info h3 {
    font-weight: bold;
    font-size: 30px;
	padding-left: 30px;
    padding-bottom: 15px;
}
table {
    display: table;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 60px;
    width: 100%;
}
table thead th, table tbody td, table tr td {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
    text-align: left;
}
table tr td, table tbody tr td {
    font-size: 18px;
}
table thead {
    background-color: #3085d6;
    color: #fff;
}
table thead tr th {
    font-size: 16px;
    font-weight: bold;
    vertical-align: bottom;
}
table.short-info-table {
    max-width: 1000px;
}
table.short-info-table td {
    vertical-align: center;
    text-align: center;
    padding: 5px;
}
.head-pic {
    padding-left: 100px;
}
.news-container {
    padding-bottom: 40px;
    font-size: 18px;
    border-top: 1px solid #C4C4C4;
    max-width: 1200px;
}
table.news-table tr td:first-child {
    /*text-align: center;*/
	font-size: 17px;
	text-align:left;
    vertical-align: middle;
}
table.news-table {
    /*max-width: 900px;*/
	/*font-size: 15px;*/
	margin-left: 10px;
	max-width: 70%;
}
table.news-table caption {
	/*padding-top: 20px;*/
	text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
	padding-left: 0px;
    border-bottom: 1px solid #e5e5e5;
}
table.news-table tr:nth-of-type(even), table table tr.stripe, table table tr.striped {
    background-color: #e5e5e5;
}
.hr {
    padding-bottom: 10px;
    max-width: 70%;
}
.hr1{
    padding-bottom: 30px;
    max-width: 70%;
}

/*-- end homepage --*/


/*-- research --*/

.interests {
    max-width: 900px;
    margin-bottom:30px;
}
.interest-title {
    border-bottom: 2px solid #e5e5e5;
    font-size: 30px;
    padding-bottom: 10px;
}
.research-interest {
    font-size: 18px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
}

.research-interest p {
    text-align: justify;
    margin:0px;
    padding:0px 15px;
}

table.projects-table {
    max-width: 900px;
}
table.projects-table caption {
    border-bottom: 2px solid #e5e5e5;
    font-size: 30px;
    padding-bottom: 10px;
}
table.projects-table td {
    padding-top: 15px;
    padding-bottom: 5px;
    vertical-align:top;
}
table.projects-table td:first-child {
    text-align: center;
}
tr.project-dscr {
    border-bottom:1px solid #e5e5e5;
}

/*--expression(this.width>200?"200px":this.width+"px");--*/

img.project-pic {
    vertical-align: middle;
    text-align: center;
    min-width: 250px;
    max-width: 300px;
}
table.projects-table p {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 18px;
}
table.projects-table h3 {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}
.fundings {
    max-width: 900px;
    margin-bottom: 60px;
}
.fundings h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.fundings li {
    text-align: justify;
    padding: 10px;
    font-size: 18px;
}
.fundings li:nth-of-type(even) {
    background-color: #e5e5e5;
}

/*-- end research --*/


/*-- publications --*/

.publications {
    max-width: 900px;
    margin-bottom: 60px;
}
.publications h3 {
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
}
.publications li {
    text-align: justify;
    padding: 10px;
    font-size: 18px;
}
.publications li:nth-of-type(even) {
    background-color: #e5e5e5;
}

/*-- end publications --*/


/*--group table--*/

table.group-table {
    max-width: 900px;
}
table.group-table tr td:first-child {
    text-align: center;
}
table.group-table caption {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
table.group-table tr:nth-of-type(even), table table tr.stripe, table table tr.striped {
    background-color: #e5e5e5;
}

/*--end group table--*/


/*--activities table--*/

table.activities-table tr td:first-child {
    text-align: center;
}
table.activities-table {
    width: 900px;
}
table.activities-table caption {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
table.activities-table tr:nth-of-type(even), table table tr.stripe, table table tr.striped {
    background-color: #e5e5e5;
}
table.activity-pic-table {
    max-width: 1000px;
}
table.activity-pic-table caption {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e5e5e5;
}
table.activity-pic-table h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}
table.activity-pic-table td {
    vertical-align: middle;
    text-align: center;
}
table.activity-pic-table td img {
    width: 400px;
}
table.activity-pic-table td p {
    text-align: justify;
    font-size: 18px;
}

tr.activity-dscr {
    border-bottom: 1px solid #e5e5e5;
}

/*--end activities table--*/


/*--biography table--*/

table.biography-table {
    max-width: 900px;
}
table.biography-table tr td {
    vertical-align: middle;
}
table.biography-table caption {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
table.biography-table tr:nth-of-type(even), table table tr.stripe, table table tr.striped {
    background-color: #e5e5e5;
}

/*--end biography table--*/


/*--resources table--*/

table.resources-table {
    max-width: 900px;
}
table.resources-table tr td {
    text-align: center;
    vertical-align: middle;
}
table.resources-table td {
    width: 300px;
}
table.resources-table caption {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
table.resources-table tr:nth-of-type(even), table table tr.stripe, table table tr.striped {
    background-color: #e5e5e5;
}

/*--end resources table--*/

/*--course table--*/
table.course-table {
    max-width: 900px;
}
table.course-table tr td {
    text-align: center;
    vertical-align: middle;
}
table.course-table td {
    width: 300px;
}
table.course-table tr:nth-of-type(even), table table tr.stripe, table table tr.striped {
    background-color: #e5e5e5;
}
/*--end curse table--*/

/*--resources banner-content alter--*/

.new-banner-content {
    margin: 1em 0;
    border-bottom: 0px solid #C4C4C4;
    width: 100%;
}

/*--resources banner-content alter--*/

/*--resources course list--*/
.course-list {
    max-width: 900px;
    margin-bottom: 60px;
}
.course-list h3 {
    /* text-align: left; */
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
}
.course-list li {
    text-align: left;
    padding: 5px;
    font-weight: normal;
    font-size: 18px;
}
/*--resources course list--*/
